body {
	margin: 0;
}

div {
	display: flex;
	flex-direction: row;
}

#sectionA {
	background: blue;
	flex: 33%;
}
#sectionB {
	background: red;
	flex: 33%;
}
#sectionC {
	background: green;
	flex: 33%;
}
